{{#each visitors as |value key|}}
<table>
    <thead>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Visits</th>
    </thead>
    <tbody>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{count}}</td>
    </tbody>
</table>
{{/each}}