{{#each visitors as |value key|}}
<table>
    <tr>
      <th scope="row">Id</th>
      <th scope="row">Name</th>
      <th scope="row">Visits</th>
        <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{count}}</td>
    </tr>

</table>
{{/each}}