{{#each visitors as |value key|}}
<table>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Visits</th>
    </tr>
    <tr>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{count}}</td>
    </tr>
</table>
{{/each}}