{{#each visitors as |value key|}}
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Visits</th>
    </tr>
  </thead>
  <tbody>
    <th>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{count}}</td>
    </th>
    </tbody>
</table>
{{/each}}